h1 {
  text-align: center;
}

.userForm {
  /*display: inline-block;
  margin-left: auto;
  margin-right: auto;*/
  text-align: center;
}

p {
  margin-top: 30px;
  text-align: center;
}

th {
  text-decoration: underline;
  text-align: left;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 30px;
}

.row {
  text-align: center;
  padding-top: 5px;
}

h1, .userInfo {
  background-color: #efeeee;
}
